name: Docker README Update

on:
  push:
    branches: 
      - main
    paths: 
      - README.md
      - .github/workflows/docker-readme-update.yml

jobs:
  docker-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      
      #- name: Remove Unsupported Sections from README
      #  run: |
      #    awk '
      #      /<!-- PRE_GIF_MARKER -->/ { skip=1; next }
      #      /<!-- POST_GIF_MARKER -->/ { skip=0; next }
      #      !skip { print }
      #    ' README.md > README.docker.md
      
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa  # v5.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PUBLIC_RW_TOKEN }}
          repository: neonvariant/transmute
          #readme-filepath: README.docker.md